<h1>Calculator App</h1>

<%= link_to ('Add'), calc_add_path %>

<%= link_to ('Substract'), calc_substract_path %>

<%= link_to ('Multiply'), calc_multiply_path %>

<%= link_to ('Divide'), calc_divide_path %>
